<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/login/main.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/login/util.css') }}" rel="stylesheet" />

            <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css-hamburgers/hamburgers.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css') }}">
            <link rel="icon" type="image/png" href="{{ asset('images/icons/favicon.ico') }}"/>

            <!-- Latest compiled and minified CSS -->
            {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}
            <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/popper.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('vendor/select2/select2.min.js') }}"></script>
            <script src="{{ asset('vendor/tilt/tilt.jquery.min.js') }}"></script>
            <script >
                $('.js-tilt').tilt({
                    scale: 1.1
                })
            </script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
