{% extends 'base-dashboard.html.twig' %}

{% block body %}

    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                {{ block('reusable_sidebar') }}
                <div class="text-center m-t-30">
                    {#<a href="https://wrappixel.com/templates/adminpro" class="btn waves-effect waves-light btn-info hidden-md-down"> Upgrade to Pro</a>#}
                </div>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Dashboard (Tracking Statistics per 30 days)</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    {#<a href="https://wrappixel.com/templates/adminpro" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>#}
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

            <div class="row">
                <div class="col-lg-3">
                    <div class="card bg-info">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><i class="fa  fa-paper-plane-o fa-4x" aria-hidden="true"></i></div>
                                <div class="align-self-center">
                                    <h6 class="text-white m-t-10 m-b-0">Delievered</h6>
                                    <h2 class="m-t-0 text-white track-delivered"></h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card bg-success">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><i class="fa  fa-envelope-open-o fa-4x" aria-hidden="true"></i></div>
                                <div class="align-self-center">
                                    <h6 class="text-white m-t-10 m-b-0">Opened</h6>
                                    <h2 class="m-t-0 text-white track-opened"></h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><i class="fa fa-sign-in fa-4x" aria-hidden="true"></i></div>
                                <div class="align-self-center">
                                    <h6 class="text-white m-t-10 m-b-0">Clicks</h6>
                                    <h2 class="m-t-0 text-white track-clicks"></h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card bg-danger">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><i class="fa fa-retweet fa-4x" aria-hidden="true"></i></div>
                                <div class="align-self-center">
                                    <h6 class="text-white m-t-10 m-b-0">Bounces</h6>
                                    <h2 class="m-t-0 text-white track-bounces"></h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="card">
                    <div class="card">
                        <div class="card-body">
                            <div class="bg-theme stats-bar">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20 active">
                                            <h6 class="text-white">Total Sent (per 30 days)</h6>
                                            <h3 class="text-white m-b-0 stat-sent"></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="text-white">Delivered</h6>
                                            <h3 class="text-white m-b-0 stat-delivered"></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="text-white">Bounced</h6>
                                            <h3 class="text-white m-b-0 stat-bounced"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>Sent / Delivered Comparison</h4>
                                <ul class="list-inline m-b-0 ml-auto">
                                    <li>
                                        <h6 class="text-muted text-success"><i
                                                    class="fa fa-circle font-10 m-r-10 "></i>Delivered</h6></li>
                                    <li>
                                        <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>Total Sent</h6></li>
                                </ul>
                            </div>
                            <div class="website-visitor p-relative m-t-30" style="width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>



                <!-- ============================================================== -->
                <!-- visit charts-->
                <!-- ============================================================== -->
                <div class="col-lg-3 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><span class="lstick"></span>Monthly Tracker</h4>
                            <div id="trackings" style="height:250px; width:100%;"></div>
                            <table class="table vm font-14">
                                <tr>
                                    <td class="b-0" style="color: #398bf7;">Sent</td>
                                    <td class="text-right font-medium b-0 sent_sum"></td>
                                </tr>
                                <tr>
                                    <td style="color: #398bf7;">Opened</br> <div id="opened_sum_bar"></div></td>
                                    <td class="text-right font-medium opened_sum"></td>
                                </tr>
                                <tr>
                                    <td style="color: #398bf7">Delivered</br> <div id="delivered_sum_bar"></div></td>
                                    <td class="text-right font-medium delievered_sum"></td>
                                </tr>
                                <tr>
                                    <td style="color: #398bf7">Clicked</br> <div id="clicked_sum_bar"></div></td>
                                    <td class="text-right font-medium clicked_sum"></td>
                                </tr>
                                <tr>
                                    <td style="color: #1ce59b;">Bounces</br> <div id="bounced_sum_bar"></div></td>
                                    <td class="text-right font-medium bounced_sum"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Projects of the month -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h4 class="card-title"><span class="lstick"></span>Sent this Month!</h4></div>
                            </div>
                            <div class="table-responsive m-t-20">
                                <table class="table vm no-th-brd no-wrap pro-of-month">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Order</th>
                                        <th>List</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if orders is empty %}
                                        <tr>
                                            <td style="width:50px;"><span class="round"></span> <span class="profile-status away pull-right"></span></td>
                                            <td>
                                                <h6>No History Available this month.</h6><small class="text-muted">You haven't sent any emails this months yet </small></td>
                                            <td><code>Tip:</code></td>
                                            <td><a href="/lists">Start</a></td>
                                        </tr>
                                     {% else %}
                                         {% for order in orders %}
                                            <tr>
                                                <td style="width:50px;"><span class="round">{{ loop.index }}</span> <span class="profile-status away pull-right"></span></td>
                                                <td>
                                                    <h6>{{ order.subjecttext }}</h6><small class="text-muted">{{ order.getOrderDate().date|date("Y/m/d H:m") }}</small></td>
                                                <td><a href="/emails/{{ order.getList().id }}"> {{ order.getList().listname }}</a></td>
                                                {% if (order.getisActive() == 1) %}
                                                    {#<td style="color: red">Running <img class="small running" src="../assets/images/loading.gif" alt="Loading" > </td>#}
                                                    <td><span class="label label-danger">Running  </span>&nbsp; &nbsp;  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></td>
                                                    <td><button type="button" class="btn btn-outline-danger" data-user-id="{{ order.getUserId() }}" data-orderid="{{ order.id }}" id="stop">Stop</button></td>
                                                {% elseif order.getisActive() == '2' %}
                                                    <td><span class="label label-warning">Stopped  </span>&nbsp;</td>
                                                    <td><button type="button" class="btn btn-outline-warning" data-user-id="{{ order.getUserId() }}" data-orderid="{{ order.id }}" id="resume">Resume</button></td>
                                                {% else %}
                                                    {#<td style="color: green"><b>Done</b></td>#}
                                                    <td><span class="label label-success">Done</span></td>
                                                    <td>..</td>
                                                {% endif %}
                                            </tr>
                                         {% endfor %}
                                      {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contact -->
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>My Lists</h4>
                            </div>
                            <div class="message-box contact-box">
                                <div class="message-widget contact-widget">
                                    <!-- Message -->
                                    <!-- Message -->
                                    {% if lists is empty %}
                                        <a href="/lists">
                                            <div class="user-img"> <span class="round">NO</span> <span class="profile-status away pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>No Lists Available</h5> <span class="mail-desc">you have no Email lists yet.</span></div>
                                        </a>
                                     {% else %}
                                         {% for onelist in lists %}
                                             <a href="/emails/{{ onelist.id }}">
                                                 <div class="user-img"> <span class="round">{{ loop.index }}</span> <span class=" away pull-right"></span> </div>
                                                 <div class="mail-contnet">
                                                     <h5>{{ onelist.getListName() }}</h5> <span class="mail-desc">{{ onelist.getDataAdded().date|date("Y/m/d H:m") }}</span></div>
                                             </a>
                                         {% endfor %}

                                    {% endif %}
                                    <!-- Message -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Blog and website visit -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-lg-4 col-xlg-3">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="../assets/images/logo-blue2.png"
                             alt="Card image cap">
                        <div class="card-body">
                            <h3 class="font-normal">Test Blog Article to be changed in Version 2.0.0 </h3>
                            <span class="label label-info label-rounded">Technology</span>
                            <p class="m-b-0 m-t-20">Titudin venenatis ipsum aciat. Vestibulum ullamcorper quam. nenatis
                                ipsum ac feugiat. Ibulum ullamcorper</p>
                            <div class="d-flex m-t-20">
                                <button class="btn p-l-0 btn-link ">Read more</button>
                                <div class="ml-auto align-self-center">
                                    <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                                    <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- ============================================================== -->
                <!-- Opened overview chart -->
                <!-- ============================================================== -->

                <div class="col-lg-8 col-md-12 col-xlg-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="bg-theme stats-bar">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20 active">
                                            <h6 class="text-white">Total Sent (per 30 days)</h6>
                                            <h3 class="text-white m-b-0 stat-sent"></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="text-white">Delivered</h6>
                                            <h3 class="text-white m-b-0 stat-delivered"></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="text-white">Bounced</h6>
                                            <h3 class="text-white m-b-0 stat-bounced"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h3 class="card-title m-b-5"><span class="lstick"></span>Opened Emails Overview </h3>
                                </div>
                                <div class="ml-auto">
                                </div>
                            </div>
                            <div id="sales-overview2" class="p-relative" style="height:360px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- Clicks overview chart -->
            <!-- ============================================================== -->

            <div class="row">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card bg-success text-white">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="stats">
                                            <h1 class="text-white">9062+</h1>
                                            <h6 class="text-white">Subscribe</h6>
                                            <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                                        </div>
                                        <div class="stats-icon text-right ml-auto"><i class="fa fa-envelope display-5 op-3 text-dark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card bg-primary text-white">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="stats">
                                            <h1 class="text-white">6509+</h1>
                                            <h6 class="text-white">Facebook Likes</h6>
                                            <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                                        </div>
                                        <div class="stats-icon text-right ml-auto"><i class="fab fa-facebook-f display-5 op-3 text-dark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card bg-info text-white">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="stats">
                                            <h1 class="text-white">3257+</h1>
                                            <h6 class="text-white">Twitter Followers</h6>
                                            <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                                        </div>
                                        <div class="stats-icon text-right ml-auto"><i class="fab fa-twitter display-5 op-3 text-dark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>Clicks per month</h4>
                            </div>
                            <div class="text-center m-t-30">
                            </div>
                            <div class="website-visitor p-relative m-t-30" style="height:355px; width:100%;">
                                <div id="clicks-overview2" class="p-relative" style="height:360px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {{ block('reusable_footer') }}
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>


{% endblock %}