{% extends 'base-dashboard.html.twig' %}

{% block body %}

    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                {{ block('reusable_sidebar') }}
                <div class="text-center m-t-30">
                    {#<a href="https://wrappixel.com/templates/adminpro" class="btn waves-effect waves-light btn-info hidden-md-down"> Upgrade to Pro</a>#}
                </div>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Dashboard</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    {#<a href="https://wrappixel.com/templates/adminpro" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>#}
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Sales overview chart -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h3 class="card-title m-b-5"><span class="lstick"></span>Tracking Overview </h3>
                                </div>
                                <div class="ml-auto">
                                    <select class="custom-select b-0">
                                        <option selected="">January 2018</option>
                                        <option value="1">February 2018</option>
                                        <option value="2">March 2018</option>
                                        <option value="3">April 2018</option>
                                    </select>
                                </div>
                            </div>
                            <div id="sales-overview2" class="p-relative" style="height:360px;"></div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- visit charts-->
                <!-- ============================================================== -->
                <div class="col-lg-3 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><span class="lstick"></span>Visit Separation</h4>
                            <div id="visitor" style="height:250px; width:100%;"></div>
                            <table class="table vm font-14">
                                <tr>
                                    <td class="b-0">Mobile</td>
                                    <td class="text-right font-medium b-0">38.5%</td>
                                </tr>
                                <tr>
                                    <td>Tablet</td>
                                    <td class="text-right font-medium">30.8%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Projects of the month -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h4 class="card-title"><span class="lstick"></span>Sent this Month!</h4></div>
                            </div>
                            <div class="table-responsive m-t-20">
                                <table class="table vm no-th-brd no-wrap pro-of-month">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Order</th>
                                        <th>List</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if orders is empty %}
                                        <tr>
                                            <td style="width:50px;"><span class="round"></span> <span class="profile-status away pull-right"></span></td>
                                            <td>
                                                <h6>No History Available this month.</h6><small class="text-muted">You haven't sent any emails this months yet </small></td>
                                            <td><code>Tip:</code></td>
                                            <td><a href="/lists">Start</a></td>
                                        </tr>
                                     {% else %}
                                         {% for order in orders %}
                                            <tr>
                                                <td style="width:50px;"><span class="round">{{ loop.index }}</span> <span class="profile-status away pull-right"></span></td>
                                                <td>
                                                    <h6>{{ order.subjecttext }}</h6><small class="text-muted">{{ order.getOrderDate().date|date("Y/m/d H:m") }}</small></td>
                                                <td><a href="/emails/{{ order.getList().id }}"> {{ order.getList().listname }}</a></td>
                                                {% if (order.getisActive() == 1) %}
                                                    <td style="color: red">Running <img class="small running" src="../assets/images/loading.gif" alt="Loading" > </td>
                                                    <td><button type="button" class="btn btn-outline-danger" data-user-id="{{ order.getUserId() }}" data-orderid="{{ order.id }}" id="stop" style="float: right;">Stop</button></td>

                                                {% else %}
                                                    <td style="color: green"><b>Done</b></td>
                                                    <td>..</td>
                                                {% endif %}
                                            </tr>
                                         {% endfor %}
                                      {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contact -->
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>My Lists</h4>
                            </div>
                            <div class="message-box contact-box">
                                <div class="message-widget contact-widget">
                                    <!-- Message -->
                                    <!-- Message -->
                                    {% if lists is empty %}
                                        <a href="/lists">
                                            <div class="user-img"> <span class="round">NO</span> <span class="profile-status away pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>No Lists Available</h5> <span class="mail-desc">you have no Email lists yet.</span></div>
                                        </a>
                                     {% else %}
                                         {% for onelist in lists %}
                                             <a href="/emails/{{ onelist.id }}">
                                                 <div class="user-img"> <span class="round">{{ loop.index }}</span> <span class=" away pull-right"></span> </div>
                                                 <div class="mail-contnet">
                                                     <h5>{{ onelist.getListName() }}</h5> <span class="mail-desc">{{ onelist.getDataAdded().date|date("Y/m/d H:m") }}</span></div>
                                             </a>
                                         {% endfor %}

                                    {% endif %}
                                    <!-- Message -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Blog and website visit -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-lg-4 col-xlg-3">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="../assets/images/users/1.gif" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="font-normal">Test Blog Article to be changed in Version 2.0.0 </h3>
                            <span class="label label-info label-rounded">Technology</span>
                            <p class="m-b-0 m-t-20">Titudin venenatis ipsum aciat. Vestibulum ullamcorper quam. nenatis ipsum ac feugiat. Ibulum ullamcorper</p>
                            <div class="d-flex m-t-20">
                                <button class="btn p-l-0 btn-link ">Read more</button>
                                <div class="ml-auto align-self-center">
                                    <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                                    <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xlg-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>Sample graph</h4>
                                <ul class="list-inline m-b-0 ml-auto">
                                    <li>
                                        <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Sample A view</h6> </li>
                                    <li>
                                        <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>Sample B view</h6> </li>
                                </ul>
                            </div>
                            <div class="website-visitor p-relative m-t-30" style="width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
        </div>
        {{ block('reusable_footer') }}
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>


{% endblock %}