{% extends 'base-dashboard.html.twig' %}

{% block body %}
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                    {{ block('reusable_sidebar') }}
                <div class="text-center m-t-30">
                    {#<a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-info hidden-md-down"> Upgrade to Pro</a>#}
                </div>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Profile</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    {#<a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>#}
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <center class="m-t-30"> <img src="../assets/images/users/Rick2.gif" class="img-circle" width="150" />
                                <h4 class="card-title m-t-10">{{ user.username }}</h4>
                                <h6 class="card-subtitle">{{ user.about }}</h6>
                                <div class="row text-center justify-content-md-center">
                                    <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                                    <div class="col-4" ><a href="/lists" class="link"><i class="icon-layers"></i> <font class="font-medium">{% if lists is empty %}0{% else %}{{ lists }} {% endif %}</font></a></div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal form-material" method="post" action="profile">
                                <div class="form-group">
                                    <label class="col-md-12">Full Name</label>
                                    <div class="col-md-12">
                                        <input type="text" name="fullname" placeholder="full Name" class="form-control form-control-line" value="{{ user.fullname }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="email" placeholder="{{ user.email }}" class="form-control form-control-line" name="email" id="example-email" value="{{ user.email }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Password</label>
                                    <div class="col-md-12">
                                        <input type="password" value="" name="password" id="password" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Re-Enter Password</label>
                                    <div class="col-md-12">
                                        <input type="password" value="" name="password2" id="password2" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Phone No</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="123 456 7890" name="phone" class="form-control form-control-line" value="{{ user.phone }}" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">About</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" name="about" class="form-control form-control-line">{{ user.about }}</textarea>
                                    </div>
                                </div>
                                {#<div class="form-group">#}
                                    {#<label class="col-sm-12">Select Country</label>#}
                                    {#<div class="col-sm-12">#}
                                        {#<select class="form-control form-control-line">#}
                                            {#<option>London</option>#}
                                            {#<option>India</option>#}
                                            {#<option>Usa</option>#}
                                            {#<option>Canada</option>#}
                                            {#<option>Thailand</option>#}
                                        {#</select>#}
                                    {#</div>#}
                                {#</div>#}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button id="profile_submit" class="btn btn-success">Update Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        {{ block('reusable_footer') }}
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>


{% endblock %}